@keyframes animateTop {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    transform: translateY(100px);
    opacity: 1;
  }
}

@keyframes animateTopMobile {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

