$colorWhite: #fff;
$colorBlack: #0f0f0f;
$colorBlue: #2916e0;
$colorLightGray: #b2b2b2;
$colorDarkGray: #636363;
$colorRed: #e21010;
$colorLightBlack: #252525;
$colorForHover: rgb(233, 230, 230);
$colorBody: #212529;
