@use "../abstracts/variables";
.blog {
  overflow-y: scroll;
  .image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 100px;
    gap: 20px 20px;
    .image-text {
      position: relative;
      overflow: hidden;
      .text-card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 20px;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
        .text-details {
          padding: 0 10px;
          span,
          a {
            color: variables.$colorWhite;
          }
          h3 {
            line-height: 1.6;
            font-size: 20px;
          }
        }
      }
    }
    .image-1,
    .image-3,
    .image-5,
    .image-6,
    .image-9,
    .image-11,
    .image-12 {
      grid-row: span 3;
    }

    .image-2,
    .image-4,
    .image-7,
    .image-8,
    .image-10,
    .image-13,
    .image-14,
    .image-15 {
      grid-row: span 2;
    }
    .image-14 {
      grid-row: span 4;
    }
  }
}
