@use "../abstracts/variables";
@use "../utils/mixins";

.gallery {
  overflow-y: scroll;
  position: relative;
  .gallery-title {
    position: fixed;
    top: 0;
    background-color: variables.$colorWhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    flex-wrap: wrap;
    z-index: 30;
    .gallery-heading {
      h2 {
        font-size: 24px;
        color: variables.$colorLightBlack;
        font-weight: 600;
      }
    }
    .subtitles {
      display: flex;
      gap: 30px;
      .subtitle-item {
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        a {
          color: variables.$colorLightBlack;
          &:active {
            color: variables.$colorBlue;
          }
        }
      }
    }
  }
  .gallery-photos {
    display: grid;
    grid-auto-rows: 250px;
    gap: 20px 20px;
    padding-top: 90px;
    .photo {
      @include mixins.authorProfile;
      position: relative;
      .author {
        font-size: 16px;
        opacity: 0;
        &:hover {
          background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
          opacity: 1;
        }
      }
    }

    .photo-1 {
      grid-area: photo1;
    }
    .photo-2 {
      grid-area: photo2;
    }
    .photo-3 {
      grid-area: photo3;
    }
    .photo-4 {
      grid-area: photo4;
    }
    .photo-5 {
      grid-area: photo5;
    }
    .photo-6 {
      grid-area: photo6;
    }
    .photo-7 {
      grid-area: photo7;
    }
    .photo-8 {
      grid-area: photo8;
    }
    .photo-9 {
      grid-area: photo9;
    }
    .photo-10 {
      grid-area: photo10;
    }
    .photo-11 {
      grid-area: photo11;
    }

    grid-template-areas:
      "photo1 photo1 photo2 photo3 photo4"
      "photo1 photo1 photo5 photo5 photo4"
      "photo6 photo6 photo5 photo5 photo7"
      "photo8 photo9 photo9 photo10 photo11";
  }
}
